.design-section {
    
    @media screen and (min-width:601px) {
        h1 {
            font-size: $h1-size;
            letter-spacing: $standard-letter-spacing;
        }
    }

    @media screen and (max-width:600px) {
        h1 {
            font-size: 40px;
            background: $background-color;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }
    }

    

}

@media screen and (min-width:601px) {
     div.design-section {
       background: $background-color;
       height: $section-height;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
     }
}

@media screen and (max-width:600px) {
    div.design-section {
      padding-top: 4rem;
      background: $h1-color;
      height: $section-height;
      display: flex;
      flex-direction: column;
      justify-content:left;
      align-items: center;
      width: 100%
    }
}
