
    // DESKTOP 


    @media screen and (min-width:601px) {
        .design-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 10% 10% 0% 3%;
            height: $section-height;
            width: 90rem;
            background: $background-color;
            

            h1 {
                font-size: 7rem;
                letter-spacing: $standard-letter-spacing;
                color: $h1-color;
            }

            h2 {
                font-size: 3rem;
                letter-spacing: $standard-letter-spacing;
                color: $h2-orange;
                
            }
          }
        
    }

   

// MOBILE

@media screen and (max-width:600px) {
    div.design-section {
      padding-top: 4rem;
      background: $h1-color;
      height: $section-height;
      display: flex;
      flex-direction: column;
      justify-content:left;
      align-items: center;
      width: 100% 
    }

    div.title {
        h1 {
            font-size: 3rem;
            background: $background-color;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }


}
