.design-section {
    height: $section-height;
    background: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    h1 {
        font-size: $h1-size;
        letter-spacing: $standard-letter-spacing;
    }

}