.footer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(180,149,231);
    background: -moz-linear-gradient(194deg, rgba(180,149,231,1) 7%, rgba(79,69,255,1) 28%, rgba(117,99,246,1) 28%, rgba(98,84,251,1) 51%, rgba(110,93,248,1) 65%, rgba(79,69,255,1) 65%);
    background: -webkit-linear-gradient(194deg, rgba(180,149,231,1) 7%, rgba(79,69,255,1) 28%, rgba(117,99,246,1) 28%, rgba(98,84,251,1) 51%, rgba(110,93,248,1) 65%, rgba(79,69,255,1) 65%);
    background: linear-gradient(194deg, rgba(180,149,231,1) 7%, rgba(79,69,255,1) 28%, rgba(117,99,246,1) 28%, rgba(98,84,251,1) 51%, rgba(110,93,248,1) 65%, rgba(79,69,255,1) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b495e7",endColorstr="#4f45ff",GradientType=1);
    padding-top: 5%;
    
       .logo-footer {
        padding: 0% 10% 0% 0%;
        img {
            height: 35rem;
            width: auto;
             
        }
       }
        
       .powered-by {
        padding: 0% 0% 0% 5%;  
        h2 {
            color: white;
            font-size: 1.1rem;  
        }
        a {
            color: $h2-pink;
            font-size: 1.2rem;
            
        }
       }
        
    
}