main {
    width: 100%;
    h1 {
        padding: $padding;
        font-size: 7rem;
        font-weight: 500;
        background: rgb(79,69,255);
        background: -moz-linear-gradient(127deg, rgba(79,69,255,1) 24%, rgba(180,149,231,1) 24%, rgba(79,69,255,1) 56%, rgba(180,149,231,1) 56%);
        background: -webkit-linear-gradient(127deg, rgba(79,69,255,1) 24%, rgba(180,149,231,1) 24%, rgba(79,69,255,1) 56%, rgba(180,149,231,1) 56%);
        background: repeating-linear-gradient(127deg, rgba(79,69,255,1) 24%, rgba(180,149,231,1) 24%, rgba(79,69,255,1) 56%, rgba(180,149,231,1) 56%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f45ff",endColorstr="#b495e7",GradientType=1);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    .section {
        height: 100vh;
    }
}