main {
    width: 100%;
    h1 {
        padding: $padding;
        font-size: 7rem;
        font-weight: 500;
        background: linear-gradient(90deg, rgba(38,49,89,1) 0%, rgba(151,199,255,1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    .section {
        height: 100vh;
    }
}