.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: rgb(180,149,231);
    background: -moz-linear-gradient(194deg, rgba(180,149,231,1) 7%, rgba(79,69,255,1) 28%, rgba(117,99,246,1) 28%, rgba(98,84,251,1) 51%, rgba(110,93,248,1) 65%, rgba(79,69,255,1) 65%);
    background: -webkit-linear-gradient(194deg, rgba(180,149,231,1) 7%, rgba(79,69,255,1) 28%, rgba(117,99,246,1) 28%, rgba(98,84,251,1) 51%, rgba(110,93,248,1) 65%, rgba(79,69,255,1) 65%);
    background: linear-gradient(194deg, rgba(180,149,231,1) 7%, rgba(79,69,255,1) 28%, rgba(117,99,246,1) 28%, rgba(98,84,251,1) 51%, rgba(110,93,248,1) 65%, rgba(79,69,255,1) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b495e7",endColorstr="#4f45ff",GradientType=1);
   .logo {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0rem 0rem 2rem;
    opacity: 70%;
     img {
        height: 4rem;
        width: auto; 
     }

   }
   ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    li {
        list-style-type: none;
        padding: 0rem 1rem 0rem 1rem;
       h3 {
        font-size: 0.9rem;
        a {
          color: white;
          opacity: 70%;
          padding: 0.5rem;
          border-radius: 3%;
        }
        a:hover {
         opacity: 100%;
         background-color: rgba(255, 172, 199, 10%);
        }
       }
        
    }
   }
}

@media screen and (max-width: 700px) {
   .navbar {
      .logo {
         img {
            height: 3rem;
         }
      }
   }
}