* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif,
}



// DESKTOP

@media screen and (min-width:601px) {

    main {
        background: $background-color;
        width: 90rem;
    }

    body {
    
        background: $background-color;
        width: 90rem;
    }
}

// MOBILE

@media screen and (max-width:600px) {
    main {
        background-color: $h1-color;
        width: 100%;
    }

    
    body {
        background-color: $h1-color;
    }
}




