* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}



@media screen and (max-width:600px) {
    body {
        background-color: $h1-color;
    }
}

@media screen and (min-width:601px) {
    body {
    
        background: $background-color;
        width: 100%;
    }
}

h1 {
    color: $h1-color
}



@media screen and (min-width:601px) {
    main {
        background: $background-color;
    }
}

@media screen and (max-width:600px) {
    main {
        background-color: $h1-color;
        width: 100%;
    }
}