* {
    font-family: 'Inter', sans-serif;
}

body {
    padding: 0rem;
    margin: 0rem;
    background: $background-color;
}


h1 {
    color: $h1-color
}

main {
    background: $background-color;
}