
$background-color: #263159;



$section-height: 100vh;
$padding:10% 0% 0% 10%;

$h1-color: #f0def4;
$h2-pink: rgba(255, 172, 199, 1);
$h2-orange:#F5B971;
$h1-size: 7rem;
$h2-size: 1rem;
$h2-min: 0.6rem;

$standard-letter-spacing: 0.2ch;
