$background-color-start: rgb(133,10,10);
$background-color: linear-gradient(90deg, rgba(133,10,10,1) 3%, rgba(46,1,126,1) 86%);
$background-color-end: #2e017e;

$section-height: 100vh;

$h1-color: #f0def4;
$h1-size: 7rem;

$standard-letter-spacing: 0.2ch;
